<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magicfrost.bridge">

    <application>
        <service
            android:name=".service.BridgeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.magicfrost.bridge.service.BridgeService" />
            </intent-filter>
        </service>
    </application>
</manifest>
